@charset "utf-8";

.color1 {color:#121c72 !important;}
.color2 {color:#4dac26 !important;}
.color3 {color:#cccccc !important;}
.color4 {color:#1c4196 !important;}
.color5 {color:#0aa622 !important;}
.color6 {color:#2a81eb !important;}
.color7 {color:#2166d4 !important;}
.color8 {color:#dce7fc !important;}
.color9 {color:#f2f7ff !important;}
.color10 {color:#d65d1c !important;}
.color11 {color:#e64c2e !important;}