@charset "utf-8";
 
/* 펀드/신탁 -------------------------------------------- */

/* 가입안내 공통 */
.page.prd.futr .futr-join .hd-tit3 {margin-top:60rem}
.page.prd.futr .futr-join .desc {margin-top:20rem; font-size: 16rem; color:#555555; line-height: 1.31;}
.page.prd.futr .futr-join .ico-list{margin:20rem 0 30rem; padding:40rem 0 40rem 80rem; display:flex; align-items: center; border:1rem solid #e6e6e6; border-radius: 8px; }
.page.prd.futr .futr-join .ico-list li{position:relative; width:50%; padding-left:64rem;min-height:48rem;font-size:16rem;color:#555555;}
.page.prd.futr .futr-join .ico-list li strong{display:block;margin-bottom:6rem;font-size:18rem;font-weight:600;color:#242424;}
.page.prd.futr .futr-join .ico-list li:before{display:block;content:'';position:absolute;top:0;left:0;width:48rem;height:48rem;border-radius:50%;background-color:#f5f5f5;background-repeat:no-repeat;background-position:50%;background-size:24rem;}
.page.prd.futr .futr-join .ico-list li.ico1:before{background-image:url(../img/prd/ic_c_01@2x.png);}
.page.prd.futr .futr-join .ico-list li.ico2:before{background-image:url(../img/prd/ic_c_02@2x.png);}
.page.prd.futr .futr-join .join-box {margin:40rem 0 30rem}
.page.prd.futr .futr-join .join-box .hd-tit3 {margin-bottom:20rem}

 
/* 신탁 > 신탁신규가입 */ 
.poptents.page.prd.trust .progress-bar-area{padding:0 10rem;}
.poptents.page.prd.trust .progress-bar-area .hd-tit4{padding-bottom:0;}
.poptents.page.prd.trust .progress-bar-area .state-area{display:flex;margin:30rem 0 16rem; justify-content:space-between;font-size:16rem;color:#555;}
.poptents.page.prd.trust .progress-bar-area .state-area .tit{font-size:18rem; font-weight:700; color:#2a81eb;line-height: 1.33;}
.poptents.page.prd.trust .progress-bar-area .progress{position:relative;height:12rem;background-color:#e9eaed;border-radius:50rem;overflow:hidden;}
.poptents.page.prd.trust .progress-bar-area .progress .bar{position:absolute;top:0;left:0;background-color:#2a81eb;display:inline-block;height:12rem;border-radius:50rem;}
.page.prd.trust .join-info-step{font: var(--font15); color:#555555;line-height:21rem;}
.page.prd.trust .join-info-step .cont .txt-con{margin-top:16rem;}
.page.prd.trust .join-info-step .cont .box-gray{background-color:#fafafa;margin-top:20rem;padding:30rem 40rem;border-radius:8rem;}
.page.prd.trust .join-info-step .cont .box-gray .hd-tit4+ .bullet {margin-top:20rem}
.page.prd.trust .join-info-step .btn-list{margin-top:32rem;}
.page.prd.trust .join-info-step .btn-list li + li{margin-top:8rem;}
.page.prd.trust .join-info-step .btn-list li button{display:block;width:100%;border:1px solid #ccc;border-radius:4rem;padding:20rem;font-size:16rem;font-weight:600;color:#242424;}
.page.prd.trust .join-info-step .btn-list li button .wrap {display:flex;justify-content:space-between;align-items:center;}
.page.prd.trust .join-info-step .btn-list li button .count {font-weight:normal}
.page.prd.trust .join-info-step .blue{color:#2a81eb;}
.page.prd.trust .join-info-step .count{font: var(--font15);}
.page.prd.prd .radio-wrap{margin-top:16rem;}
.page.prd.futr .q-slider .swiper-slide ul.rdos {display:flex}
.page.prd.futr .q-slider .swiper-slide ul.rdos li+li{margin-left:16rem}
.page.prd.futr .code-item{margin-top:60rem}
.page.prd.futr .code-item .tit{padding-bottom:20rem}
.page.prd.futr .code-item .tit>span{font-weight:400}
.page.prd.futr .code-item .bullet.b{margin-top:16rem}
.graybox {margin:32rem 0 40rem; background:#f5f5f5; border-radius: 4rem; padding:20rem}
.graybox .desc+.hd-tit4 {margin:16rem 0; }
.graybox .desc {font: var(--font15);color:#555; line-height:1.4;}
.graybox .txt-c {text-align:center}
.page.prd.futr .futr-tit {margin-bottom:32rem}
.page.prd.futr .futr-txt {font: var(--font15); line-height:1.4; color:#555;}
.page.prd.futr .checkbox-flex + .btn-set {margin-top:26rem;}
.page.prd.futr .info-enter .hd-tit3 { margin:0 0 16rem;}
.page.prd.futr .info-enter .sect:first-child {margin-top:40rem}
.page.prd.futr .info-enter .sect+.sect {margin-top:60rem}
.page.prd.futr .info-enter .ut-phone+.desc {margin-top:16rem}
.page.prd.futr .info-enter .ut-phone+.desc .txt {font: var(--font15); color:#555}
.page.prd.futr .info-enter .fldset .fld + .fld {margin-top:16rem}
.page.prd.futr .video-time {margin-bottom:40rem}
.page.prd.futr .video-time .hd-tit4 {padding:0}
.page.prd.futr .video-time .hd-tit4 .date {font: var(--font12); color:#808080; font-weight:400}
.page.prd.futr .video-time .time-list {margin-top:14rem}
.page.prd.futr .video-time .time-list>li{margin-top:8rem}



/* 신탁 > 전체 신탁 */
.page.prd.futr .trust-wrap .trust-text {margin:32rem 0;}    
.page.prd.futr .trust-wrap .ut-dcard.a.account .stds .inf {font: var(--font15);}
.page.prd.futr .trust-wrap .sect {margin:40rem 0}
.page.prd.futr .trust-wrap .sect .hd-tit3 {margin-bottom:20rem}
/*.page.prd.futr .trust-wrap .trust-img {margin:16rem 0 40rem; padding:20px; background:#f2f7ff; text-align:center; border-radius: 16rem;}
.page.prd.futr .trust-wrap .trust-img .hd-tit3 {position:relative; padding:104rem 0 16rem;}
.page.prd.futr .trust-wrap .trust-img .hd-tit3:after {display:block; clear:both; content:""; position:absolute; top:0; left:50%; transform:translateX(-50%); width:80px; height:80px; background:url(../img/prd/img_thumbnail@2x.png) no-repeat center; background-size:80rem 80rem}*/
.page.prd.futr .trust-wrap .ut-bnr-lst.trust a.lk {padding:20rem 20rem 20rem 84rem; background:#f2faf2 url(../img/prd/ic_trust@2x.png) no-repeat 20rem 20rem; background-size:48rem auto}
.page.prd.futr .trust-wrap .ut-bnr-lst.trust a.lk::after {top:20rem; transform:translateY(0);}
.page.prd.futr .trust-wrap .ut-bnr-lst.trust .txt { font: var(--font14); line-height:1.5 }
.page.prd.futr .trust-wrap .txt {font: var(--font15); line-height:1.4; color:#555;}
.page.prd.futr .trust-wrap .bg-gray {background:#f5f5f5; border:none}
.page.prd.futr .trust-wrap .hd-tit4 {padding: 6rem 0rem;}
.page.prd.futr .trust-wrap .ut-tbl.a {margin: 10rem 0;}
.page.prd.futr .ut-dcard.trust .stds {position:relative; padding-bottom:24rem}
.page.prd.futr .ut-dcard.trust .stds.icon:after {display:block; clear:both; content:""; position:absolute; top:0; right:0; width:80px; height:80px; background-size:80rem 80rem}
.page.prd.futr .ut-dcard.trust .stds.icon.icon01:after {background-image:url(../img/prd/icon_customer01.png);}
.page.prd.futr .ut-dcard.trust .stds.icon.icon02:after {background-image:url(../img/prd/icon_customer02.png);}
.page.prd.futr .ut-dcard.trust .stds .hdt .tit {font-size:18rem; line-height: 1.33;}
.page.prd.futr .ut-dcard.trust .stds .inf {font: var(--font14);line-height: 1.5;color:#777}
.page.prd.futr .ut-dcard.trust .dtds {border-top:1px solid #e6e6e6}
.page.prd.futr .trust-wrap .img {width:300rem; margin:15rem auto 0;}
.page.prd.futr .trust-wrap .img+.txt {margin-top:16rem }

/* 신탁신규가입 > 투자성향진단 안내 */
.pop-layer.pop-confirm.pop-futr.a.sm .pct.auto {min-height: auto;}
.pop-layer.pop-confirm.pop-futr .floatbots .box-set .radio-wrap {margin-top:16rem}
.page.msc.fund.mng.futr .join-info .cont {padding-top:0;}
.page.msc.fund.mng.futr .join-info .cont:before {display:none}  



/* 신탁신규가입 > 신탁가입 상품상세 */
.pop-layer.pop-trust-info .tit {font-size: 20rem; color:#242424; line-height: 1.2;}
.pop-layer.pop-trust-info .graybox {padding:30rem 40rem}
.pop-layer.pop-trust-info .graybox .desc {line-height:2.31}
.pop-layer.pop-trust-info .graybox .hd-tit3 {}
.pop-layer.pop-trust-info .graybox .btn-wrap {margin-top:40rem}

/* 신탁신규가입 > 신규가입 계좌등록 */  
.page.prd.futr .floatbots.b .box-set.boxbot + .btn-set {margin-top:30rem}

/* 펀드 > 펀드신규가입 */
/*
.page.prd.futr .ut-tbl.a .tbform.b>tbody th,
.page.prd.futr .ut-tbl.a .tbform.b>tbody td {font-size:15rem; line-height: 1.4;}
.page.prd.futr .ut-tbl.a .tbform.b>tbody td {height:42rem}
*/
.page.prd.futr .ctra-item {margin-top:40rem}
.page.prd.futr .ctra-item .hd-tit4 {padding-bottom:16rem}
.page.prd.futr .ctra-item .btn-set {padding:0 20rem}
.page.prd.futr .checkbox-list .checkbox>.txt {padding-left:36rem; font: var(--font15);line-height:1.4; color:#555;}
.page.prd.futr .checkbox-list>ul>li+li {margin-top:5rem}
.page.prd.futr .input.won.term>input{padding-right: 85rem; text-align:right} 
.page.prd.futr .head-box {margin:60rem 0 20rem}
.page.prd.futr .page-hdt + .head-box {margin-top:40rem;}
.page.prd.futr .input.won+.bullet {margin-top:10rem}
.page.prd.futr .directions .head-box {margin-top:60rem}
.page.prd.futr .select + .tooltip-area {margin-top:11rem}

/* 펀드신규가입 > 투자성향진단 > [Pop]_투자성향진단 분석결과*/
.pop-invstrslt.pop-futr .invstrslt-head {border:1rem solid #e6e6e6; border-radius: 8rem;}
.pop-invstrslt.pop-futr .accd-question {padding-top:60rem}
.pop-invstrslt.pop-futr .invest-bullet {margin:40rem 0 0}

/* 펀드 > 투자성향진단 */
.agreement-box {padding: 30rem 40rem; border-radius: 8rem; border: 1rem solid #ddd;}
.agreement-box .desc {font-size: 16rem; font-weight: 400; line-height: 1.31; color: #242424}
.agreement-box .chk {margin-top: 20rem; text-align: center;}
.agreement-box .chk .txt {font-size: 16rem; font-weight: 700; color: #242424;}


/* 펀드 > 펀드가입 상품목록 */
.checkbox-flex {display: grid; grid-template-columns: repeat(3, 1fr)}
.checkbox-flex .checkbox {margin:8rem 0}
.page.prd.futr .card-product .ut-dcard.a {margin-top:16rem}
.page.prd.futr .card-product .ut-more {padding:40px 0;}
.page.prd.futr .card-product .ut-dcard.a.account .dtds {padding-top:0;}
.page.prd.futr .card-product .ut-dcard.a.account .prefer-info .ut-bdgs {display:inline;}  
.page.prd.futr .card-product .ut-dcard.a.account .stds .top-txt {margin-bottom:8px; font-weight:400; font: var(--font14); color:#808080;line-height:1.29}
.page.prd.futr .card-product .ut-dcard.a.account .stds .cdt .bxs .dd {font: var(--font15);}
.page.prd.futr .card-product .ut-dcard.a.account .stds .cdt .bxs .dd .st-pri {margin-bottom:4rem; font-size:20rem; line-height: 1.05; color:#242424; font-weight:700}
.page.prd.futr .card-product.bg-none {background:#fff}
  
.pop-futr .accd-question {padding-top:35px;}
.pop-futr .invest-bullet {margin:40px 0 0 5px;}
.pop-futr .ut-tbl.a {margin:0}
.accd-question .q-tit {position:relative; padding-left:26px;  font-size:18rem; font-weight:700; color:#242424; line-height: 1.31;}
.accd-question .q-tit>i {display:block; clear:both; content:""; position:absolute; top:0; left:0; width:18rem; height:18rem; vertical-align:top; background-image: url(../img/common/icon_question_small@2x.png); background-size: 18rem auto;}
.accd-question .q-text {margin-top:8px; font-size:16rem; color:#555; line-height: 1.4;}
.accd-question .q-text+.q-tit {margin-top:16px}
.page.prd.futr .accd-question.b>li .hbox {min-height: 58rem; padding: 18rem 0; line-height: 1.4;}
.page.prd.futr .ut-dcard.a .stds .hdt .chk .checkbox .s-txt {position:absolute; top:5rem; right:32rem; font: var(--font15); color:#555555}
.page.prd.futr .floatbot-wrap {display:none;}
.page.prd.futr .floatbot-wrap {background:#fafafa;  border-radius: 32px; box-shadow: 3px 3px 6px 0 rgba(36, 36, 36, 0.1); border:1rem solid #242424}
.page.prd.futr .floatbot-wrap .inr {display:flex; align-items: center; padding:12rem 40rem 12rem 50rem;}
.page.prd.futr .floatbot-wrap .floatbot-tit {position:relative; padding-right:46rem; font-size:18rem; line-height: 1.44; color:#242424; font-weight:700}
.page.prd.futr .floatbot-wrap .floatbot-tit:after {display:block; clear:both; content:""; position:absolute; top:0; right:0; width:1px; height:32rem; background:#ddd;}
.page.prd.futr .floatbot-wrap .floatbot-txt {width:80%; padding-left:30rem; font: var(--font15); color:#555; line-height: 1.4;}
.page.prd.futr .floatbot-wrap .btn {margin-left:auto; border:none; background:none}
.page.prd.futr .floatbot-wrap.fixed {display:block; position:fixed; width:843rem; left:50%; bottom:0; transform: translate(-50%, -50%); z-index:10} /*위치값확인*/

/* 펀드 > 전체 펀드 > 상품 상세 > 상담신청  */
.pop-counsel-futr .frm-bunch .hd-tit3 {margin-top: 32rem; }
.pop-counsel-futr .frm-bunch + .frm-bunch {margin-top: 40rem; }
.pop-counsel-futr .frm-bunch .tit-area {display: flex; align-items: center; justify-content: space-between; }
.pop-counsel-futr .frm-bunch .tit-area .hd-tit4 {line-height: 1.31; padding: 0; }
.pop-counsel-futr .frm-bunch .ut-form.a { margin-top: 16rem; }
.pop-counsel-futr .frm-bunch .radiobox.c + .form {margin-top: 10rem; }
.pop-counsel-futr .frm-bunch .ut-form.a .info-ast {text-align: right; color: #808080; }
.pop-counsel-futr .frm-bunch .ut-form.a .info-ast + .radiobox.c,
.pop-counsel-futr .frm-bunch .ut-form.a .info-ast + .form {margin-top: 16rem; }
.pop-counsel-futr .frm-bunch .ut-form.a .rdo-grp .radio + .radio {margin-left: 32rem; }
.pop-counsel-futr .frm-bunch .ut-form.a .radio.cu>.txt {padding: 24rem 16rem 24rem 45rem; font: var(--font15);}
.pop-counsel-futr .frm-bunch .ut-form.a .radio.cu>input {top: 22rem; }
.pop-counsel-futr .frm-bunch .ut-form.a .radio.cu>.txt::before {top: 21rem; }
.pop-counsel-futr .frm-bunch .ut-form.a .input.a + .select.def {margin-top: 8rem; }
.pop-counsel-futr .frm-bunch:last-child {margin-bottom: 40rem; }
.pop-counsel-futr .frm-bunch .input.a {width:100%}
.pop-counsel-futr .email-wrp {margin-top: 8rem; display: none; }
.pop-counsel-futr * + .text-box {margin-top: 10rem; }
.pop-counsel-futr .text-box .bullet.b>li {font: var(--font12);}
.pop-counsel-futr .tit-txt {margin-top: 16rem; font: var(--font15);}
.pop-counsel-futr .ut-date input.datepicker + .ui-datepicker-trigger {background-color: transparent;}
.pop-counsel-futr .input.a.ut-date.no {background-image: none;}  

/* 펀드 > 투자설명서 */
.page.prd.futr .ut-dcard.b .hdt {margin-bottom:0}
.page.prd.futr .directions .ut-dcard.b {margin-bottom:40rem}

.page.prd.futr .directions .ut-dtds.rdbox.g {padding:50rem 30rem; margin-top:40rem; text-align:center;}
.page.prd.futr .directions .ut-dtds.rdbox.g .text-box {margin-bottom:30rem}
.page.prd.futr .directions .ut-dtds.rdbox.g .text-box .futr-txt {font-size:16rem; line-height:1.31}

/* 투자가이드 > 펀드가입안내 */
.page.prd .procedure .lst > li {position: relative; }
.page.prd .procedure .lst > li + li {margin-top: 32rem; }
.page.prd .procedure .lst > li + li:before {content: ''; display: block; position: absolute; top: -24rem; left: 50%; width: 16rem; height: 16rem; transform: translateX(-50%); background: url('../img/csc/bg_arr_procedure.png') no-repeat 0 0; background-size: 100% auto; }
.page.prd .procedure .lst > li .item {overflow: hidden; padding: 30rem 40rem; border-radius: 8rem; border: 1rem solid #e9eaed; background: #fff; }
.page.prd .procedure .lst > li .tit {font-size: 18rem; font-weight: 700; line-height: 1.44; }
.page.prd .procedure .lst > li .tit > i {color: #2a81eb; }
.page.prd .procedure .lst > li .txt {margin-top: 16rem; font-size: 16rem; line-height: 1.31; color: #555; word-break: keep-all ;}
.page.prd .procedure .lst > li .etc {font: var(--font12); text-align: center; margin-top: 12rem; color: #555555;}
.page.prd .procedure .lst > li .text-box .bullet.a>li + li {margin-top: 8rem;}
.page.prd .procedure .lst > li .text-box ul.bullet.a>li>ul.bullet.c li + li {margin-top: 8rem;}
.page.prd .procedure.img .lst > li .inner{position:relative;padding-left:120rem;}
.page.prd .procedure.img .lst > li .inner::before{position:absolute;top:0;left:0;content: '';flex:0 0 48rem; width:80rem; height: 80rem; 
	overflow: hidden;display: block;background: url(../img/prd/ic80@2x.png) no-repeat 0 0;background-size: 100% auto;}
.page.prd .procedure .lst > li .btn-set{display: block; margin-top:16rem; /*margin:16rem 0 0 120rem;*/}

/* 전체펀드 > 펀드정보 찾기 */
.page.prd.futr .ut-bnr-lst.bg-none {margin-top:40rem}
.page.prd.futr .ut-bnr-lst.bg-none li+li {margin-top:20rem}
.page.prd.futr .ut-bnr-lst.bg-none a.lk {background:#fff; padding:30rem; border:1px solid #ddd; border-radius: 8px;}
.page.prd.futr .ut-bnr-lst.bg-none a.lk .tit {font-size: 18rem; line-height: 1.33;}
.page.prd.futr .ut-bnr-lst.bg-none a.lk .txt {margin-top:10rem; font-size: 16rem; line-height: 1.5;}
.page.prd.futr .ut-bnr-lst.bg-none a.lk:after {content:""; display:block; position: absolute; transform: translateY(0); right: 30rem; top: 30rem; width: 24rem; height: 24rem; background: url('../img/prd/btn_ic_external_link@2x.png') no-repeat 0 0; background-size:24rem 24rem; }

/* 투자가이드 > 투자고수 놀부 따라잡기 */
.page.prd.futr .ut-lst {display: flex; flex-wrap: wrap; margin:-5rem 0 0 -30rem}
.page.prd.futr .ut-lst li {width: 261rem; height:159rem; position:relative; padding:30rem 20rem; margin:15rem 0 15rem 30rem; background-color:#f5f5f5; border-radius: 16px;}
.page.prd.futr .ut-lst .tit {display:block; font-size: 18rem; font-weight:700; line-height: 1.44; color: #242424; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* 두 줄 */ -webkit-box-orient: vertical; /* ie 추가 */ line-height: 1.2em; max-height: 3.4em; }
.page.prd.futr .ut-lst .txt {display:block; height: 20rem; margin-top:5rem; font: var(--font15); line-height: 1.6; color: #555; overflow:hidden}
.page.prd.futr .ut-lst .btn-video {display:inline-block; position:absolute; bottom:25rem; left:20rem; padding-right:29rem; font: var(--font15);line-height: 1.6; color: #242424; background: url(../img/prd/ic_video@2x.png) no-repeat right center;background-size: 19rem 16rem;}  
.pop-futr .video-box{background-color:#f5f5f5;display:flex;align-items:center;text-align:center;position: relative;}
.pop-futr .video-box .btn-play{position:absolute;left:50%;transform:translateX(-50%);}
.pop-futr .video-box video{width:100%;}  
.pop-futr .video-desc{border:1px solid #e6e6e6;padding:20rem;margin-top:16rem;height:204rem;overflow-y:scroll;}
.pop-futr .video-desc .desc-lst li{display:flex;font: var(--font14);color:#555}
.pop-futr .video-desc .desc-lst li+li{margin-top:10rem;}
.pop-futr .video-desc .desc-lst li .dt{padding-right:8rem;}

/* 전체 펀드 > 상세 검색 */
.pop-layer.pop-futr .conditional-wrap {margin-top:-20rem}
.pop-layer.pop-futr .conditional-wrap .select  {width:100%}
.conditional-wrap {background:#f8f8f8; padding:0 40rem}
.conditional-wrap .conditional-head {padding:30rem 0 20rem; border-bottom:1rem solid #e6e6e6}
.conditional-wrap .conditional-item {display:flex;  padding:19rem 0; border-bottom:1rem solid #e6e6e6}  
.conditional-wrap .conditional-tit {min-width: 164rem;}  
.conditional-wrap .bg-chk {display:block; margin-left:-30rem}
.conditional-wrap .lst-chk {width:100%; margin-top:-5rem}
.conditional-wrap .lst-chk:after {display:block; clear:both; content:""}
.conditional-wrap .lst-chk li {float:left; /*margin:5rem 30rem 0*/ margin:5rem 0 0; min-width:150rem}   
.conditional-wrap .ut-percent .input {width:auto}
.conditional-wrap .conditional-item.flex {display:block}
.conditional-wrap .conditional-item.flex .flex-box {display:flex;}
.conditional-wrap .guide-info {margin-top:10rem}
.conditional-wrap>.btn-set {padding:20rem 0 30rem}
.conditional-wrap>.btn-set .md {height:50rem; min-width: 175rem;}

.pop-layer.pop-futr .cprd-wrp.futr .cprd-box.bg {padding:30rem 40rem}
.pop-layer.pop-futr .cprd-wrp.futr .cprd-box.bg .state .checkbox.star {display:flex; margin-left:auto}
.pop-layer.pop-futr .cprd-wrp.futr .cprd-box.bg .h-tag {margin-top:10rem}
.pop-layer.pop-futr .cprd-wrp.futr .cprd-box+.cprd-box {margin-top:60rem}
.pop-layer.pop-futr .cprd-wrp.futr .ut-tbl.a {margin:30rem 0 20rem}  
.pop-layer.pop-futr .cprd-wrp.futr .cprd-box .tops {margin-bottom:20rem}
.pop-layer.pop-futr .cprd-wrp.futr .chart {margin-top:16rem}
.pop-layer.pop-futr .cprd-wrp.futr .ut-tbl.a .tbform th {font-weight:400}
  
/* 펀드/신탁 > 고객확인정보등록 */
.pop-layer.pop-infoentry .infoentry-tit {margin:0 0 20rem}
.pop-layer.pop-infoentry .infoentry-item {margin:40rem 0}
.pop-layer.pop-infoentry .infoentry-item .hd-tit4 {padding:0; margin-bottom:10rem}
.pop-layer.pop-infoentry .infoentry-item .item {margin-top:16rem}
.pop-layer.pop-infoentry .infoentry-item .other-item {display: flex; align-items: center; margin-top: 16rem;}
.pop-layer.pop-infoentry .infoentry-item .select.open.bot>.slist {max-height: 25vh;}
.pop-layer.pop-infoentry .checkbox-list li+li {margin-top:5rem}
.pop-layer.pop-infoentry .ut-gudbox {margin-top:40rem}
.pop-layer.pop-infoentry .eng-name {display: flex; justify-content: space-between;}
.pop-layer.pop-infoentry .eng-name .last {width: 40%;min-width: 120rem;margin-right: 8rem;}
.pop-layer.pop-infoentry .eng-name .first {width:calc(60% - 8rem);}

/* 펀드/신탁 > 가입완료 */
.pop-layer.pop-investment .complate-msg {background:none; border:1rem solid #e6e6e6; border-radius: 8rem;}
  
/* 펀드/신탁 > 진단결과안내 */
.pop-layer.a.pop-investment .invstrslt-head {padding:0;}
.pop-layer.a.pop-investment .invstrslt-head .headbox {padding:40rem 0 60rem; margin-bottom:60rem; border:1rem solid #e6e6e6; border-radius: 8rem;}
.pop-layer.a.pop-investment .invstrslt-head .headbox .tit {margin-bottom:0;line-height: 1.33;}
  
/* 펀드 > 신규가입 */
.page.prd.f-join .page-hdt .desc {line-height: 1.6;}
.page.prd .fund-scribe .sect {margin-top:40rem}
.page.prd .fund-scribe .sect .hd-tit3 {margin-bottom:20rem}
.page.prd .fund-scribe .sect ul.bullet.a>li+li {margin-top:10rem}
.page.prd .fund-scribe .sect.line {padding: 30px; border-radius: 8px; border:1rem solid #e6e6e6}
.page.prd .fund-scribe .sect.line .cont-box {display:flex; justify-content: space-between;}
.page.prd .fund-scribe .qr-code {display:flex; justify-content: flex-end;}
.page.prd .fund-scribe .qr-code>a {display:block; position:relative; margin:0 40rem;}
.page.prd .fund-scribe .qr-code>a+a {margin-right:0}
.page.prd .fund-scribe .qr-code>a+a:after {display:block; clear:both; content:""; position:absolute; top:0; left:-41rem; width:1rem; height:179rem; background:#e6e6e6}
.page.prd .fund-scribe .qr-code .qr-img {display:block; width:120rem; height:120rem}
.page.prd .fund-scribe .qr-code .txt-box {margin-top:16rem; text-align:center}
.page.prd .fund-scribe .qr-code .txt-box>span {display:block; margin-top:5rem; font: var(--font13); line-height: 1.85; color: #555;}
.page.prd .fund-scribe .qr-code .txt-box .img-google {display:block; width:95rem; height:20rem; margin:0 auto}
.page.prd .fund-scribe .qr-code .txt-box .img-apple {display:block; width:85rem; height:20rem;  margin:0 auto}

