@charset "utf-8";

/* msc4 : MY교보(신탁), MY교보(평생든든서비스) */


/************************
MY교보(신탁)
************************/ 
.page.msc.trust .list-empty + * {margin-top: 16rem;}

/* 완료 */
.page.msc.trust .complate-msg {margin: 0 21rem 25rem; }
.page.msc.trust .complate-msg .result-info {margin: 24rem 10rem 16rem; padding:19rem 20rem 16rem; border-radius: 8rem; border: solid 1px #e6e6e6; line-height: 1.4; font-size: 15rem; }
.page.msc.trust .complate-msg .result-info .date {display: inline-block; color: #555; }
.page.msc.trust .complate-msg .result-info .date .val {padding-left: 8rem; color: #242424; }
.page.msc.trust .complate-msg .add-info {margin: 0; }
.page.msc.trust .complate-msg .add-info ul > li {text-align: left; }
.page.msc.trust .complate-msg .add-info .btn-wrp {margin-top: 24rem; }
.page.msc.trust .complate-msg .add-info .btn-wrp .btn.md {min-width: 160rem; }
.page.msc.trust .complate-msg .add-info .bullet.a>li {font-size: 15rem; }
.page.msc.trust .complate-msg .add-info .bullet.a>li:before {width: 5rem; height: 5rem; }
.page.msc.trust .complate-msg .add-info .bullet.a>li + li {margin-top: 16rem; }
.page.msc.trust .complate-msg  .msg + .add-info {margin-top: 24rem; }


/** 신탁조회/변경 **/
.page.msc.trust a[href^="tel:"] {color: inherit; }
.page.msc.trust .top {margin-top: 32rem;}
.page.msc.trust .top .ut-dtds.rdbox.g {margin-top: 32rem; margin-bottom: -16rem;}
.page.msc.trust .top .bullet.b {margin-top: 10rem;}
.page.msc.trust .ut-more {margin: 34rem 0;}
.page.msc.trust .sect + * {margin-top: 40rem;}
.page.msc.trust .sect + .ut-tabs.a {margin-top: 24rem; margin-bottom: 32rem;}
.page.msc.trust .sect + .ut-dcard.a.account {margin-top: 32rem;}
.page.msc.trust .account-sel {}
.page.msc.trust .ut-dtds.c .dlist {border-top:1rem solid #555;}
.page.msc.trust .result-wrp + .bullet.b {margin-top: 16rem;}
.page.msc.trust .filter-wrp {display: flex; align-items: center; justify-content: flex-end; margin-top: 32rem; margin-bottom: 16rem;}
.page.msc.trust .filter-wrp .condition {font-size: 15rem; color: #555555; margin-right: 8rem;}
.page.msc.trust .filter-wrp .val {position: relative;padding-right: 10rem; margin-right: 4rem; }
.page.msc.trust .filter-wrp .val .date {font: inherit;}
.page.msc.trust .filter-wrp .val:after {content:"·"; display: block; position: absolute; right:0; top:50%; transform: translateY(-50%);}
.page.msc.trust .filter-wrp .btn.filter {width: 50rem; height: 50rem; background: url(../img/common/ic_filter@2x.png) no-repeat center; background-size:24rem; border-color: #ddd;}

/* 계약상세조회 */
.pop-cont-detail {}
.pop-cont-detail .hd-tit4 {padding: 0; line-height: 1.31;}
.pop-cont-detail .sect {margin-top: 32rem;}
.pop-cont-detail .sect + .sect {margin-top: 40rem;}
.pop-cont-detail .refer-date { font-size: 14rem; color: #808080; text-align: right; margin-bottom: 8rem;}
.pop-cont-detail .tit-area {display: flex; justify-content: space-between; align-items: center;}
.pop-cont-detail .ut-dtds.c {margin-top: 16rem;}
.pop-cont-detail .ut-tbl {margin-top: 16rem;}
.pop-cont-detail .ut-tbl.ty01 col.a {width: auto;}
.pop-cont-detail .ut-tbl.ty01 col.b {width: 20%;}
.pop-cont-detail .ut-tbl.ty01 col.c {width: 28%;}
.pop-cont-detail .downs {margin-top: 16rem;}
.pop-cont-detail .downs .btn + .btn {margin-top: 8rem;}

/* 조회기간 설정 */
.pop-period {}
.pop-period .sect {margin-top: 32rem;}
.pop-period .hd-tit4 {padding: 0; line-height: 1.31;}
.pop-period .btn-set {margin-top: 16rem;}
.pop-period .work-range {margin-top: 16rem;}
.pop-period .ut-range {margin-top: 16rem;}
.pop-period .ut-range .radiobox + .rcs {margin-top: 8rem;}

/* 신탁 모바일통장 */
.pop-mo-account .ut-dcard.a.account {margin-top: 17rem; }
.pop-mo-account .ut-dcard.a.account .top {margin-bottom: 30rem; text-align: right;}
.pop-mo-account .ut-dcard.a.account .img_trust_kyobo {display: inline-block; width: 80rem; height: 25rem; background: url(../img/msc/img_trust_kyobo@2x.png) no-repeat left bottom; background-size:100% auto;}
.pop-mo-account .ut-dcard.a.account .stds * +.cdt {border-color: #ccc;}
.pop-mo-account .ut-dcard.a.account .stds .cdt .bxs {justify-content: inherit; align-items: flex-start;}
.pop-mo-account .ut-dcard.a.account .stds .cdt .bxs .dt {min-width: 132rem;}
.pop-mo-account .ut-dcard.a.account .etc {border-top: solid 1rem #e6e6e6; text-align: right; margin-top: 20rem; }
.pop-mo-account .official-seal {position: relative; text-align: right; padding-right: 30rem; color: #555555; margin-top: 60rem; min-height: 24rem; line-height: 1.8;}
.pop-mo-account .official-seal:after {content:""; display: block; position: absolute; right: 0 ; top: 0 ; width: 24rem; height: 24rem; background: url(../img/msc/img_official_seal@2x.png) no-repeat left bottom; background-size:100% auto;}


/** 신탁 관리 **/
.page.msc.trust h2.hd-tit3,
.page.msc.trust h2.hd-tit4 {font-size: 22rem;}
.page.msc.trust .hd-tit3 + .ut-dcard.b {margin-bottom: 0; margin-top: 32rem; padding: 20rem;}
.page.msc.trust .ut-dcard.b .tit-prd {font-weight: 700; font-size: 16rem;}
.page.msc.trust .ut-dcard.b .tit-prd + .dls {margin-top: 12rem;}
.page.msc.trust .ut-dcard.b .dls .dl > .dd .prc .p {font-weight: 700;}
.page.msc.trust .ut-dcard.b .dls .dl > .dd .prc .w {font-weight: 400;}


/** 신탁 입/출금 **/
.page.msc.trust .ut-topfix + .top {margin-top: 0;}
.page.msc.trust .hd-tit3 + .ut-dtds.c {margin-top: 16rem;}
.page.msc.trust .hd-tit4 {padding: 0;}
.page.msc.trust .hd-tit4 + * {margin-top: 16rem;}
.page.msc.trust .tit-txt {margin-top: 16rem; font-size: 15rem; color: #555555; word-break: keep-all;}
.page.msc.trust .tit-area {display: flex; justify-content: space-between;}
.page.msc.trust .tit-area .ico.plus {margin-top: 0; font-size: 14rem;}
.page.msc.trust .tit-area + .ut-form.a {margin-top: 16rem;}
.page.msc.trust .regist-banks {margin-top: 8rem;}
.page.msc.trust .regist-banks .tit { display: inline-block; vertical-align: middle;}
.page.msc.trust .account-wrp {margin-top: 16rem;}
.page.msc.trust .account-wrp .account-sel {margin-top: 16rem;}
.page.msc.trust * + .text-box {margin-top: 16rem; }
.page.msc.trust .text-box .bullet.a > li {font-size: 15rem; }
.page.msc.trust .text-box .bullet.a > li:before {width: 5rem; height: 5rem; top: 8rem;}
.page.msc.trust .complate-msg + .sect {margin-top: 60rem;}
.page.msc.trust .ut-dcard.a.account .stds .cdt.left.b .bxs .dt {min-width: 96rem;}
.page.msc.trust .amount-ava {margin-top: 4rem;  display: flex; justify-content: flex-end; align-items: center;}
.page.msc.trust .amount-ava .val {display: inline-block; margin-right: 6rem;}
.page.msc.trust .amount-ava .val .won {display: inline-block; padding-left: 4rem;}



/************************
MY교보(평생든든서비스)
************************/

/* 평생든든 서비스 안내 */
.page.msc.lifetime {}
.page.msc.lifetime .sect .link-ar {font-size: 15rem; margin-top: 19rem;}
.page.msc.lifetime .sect .tit-txt {font-size: 14rem; line-height: 1.4; color: #555555; margin-top: 16rem;}
.page.msc.lifetime .sect .hd-tit4 {line-height: 1.31; padding: 0;}
.page.msc.lifetime .sect + .sect {margin-top: 40rem;}
.page.msc.lifetime .serv-dsc {margin-top: 24rem;}
.page.msc.lifetime .serv-dsc .hd-tit2{ font-size: 22rem; }
.page.msc.lifetime .serv-dsc .txt { margin-top: 16rem; font-size: 15rem; line-height: 1.4; word-break: keep-all;}
.page.msc.lifetime .point .about .hd-tit3 {background: url(../img/msc/ic_life_point@2x.png) no-repeat left top; background-size: 24rem; padding-left: 36rem;}
.page.msc.lifetime .point .save {margin-top: 24rem ; padding-top: 24rem; border-top: 1rem solid #e6e6e6;}
.page.msc.lifetime .point .save .point-lst {margin-top: 16rem;}
.page.msc.lifetime .point .save .point-lst > li + li {margin-top: 8rem;}
.page.msc.lifetime .point .save .point-lst .txt {padding: 10rem 12rem; border-radius: 4rem; background-color: #f5f5f5; color: #555555; height: 40rem;}
.page.msc.lifetime .serv .hd-tit3 + .box {margin-top: 16rem;}
.page.msc.lifetime .serv .tit3-area + .guide-cnt {margin-top: 24rem ; padding-top: 24rem; border-top: 1rem solid #e6e6e6;}
.page.msc.lifetime .serv .guide-cnt + .guide-cnt {margin-top: 24rem;}
.page.msc.lifetime .serv .guide-cnt .hd-tit5 {padding-left: 13rem;position: relative;color:#555;}
.page.msc.lifetime .serv .guide-cnt .hd-tit5::before {content: ""; width: 3rem; height: 3rem; background: #555; border-radius: 50%; position: absolute; left: 0; top: 9rem;}
.page.msc.lifetime .serv .guide-cnt .img {position: relative; height: 186rem; margin: 16rem 0 0; padding: 20rem; background: url(../img/msc/img-insurance.png) no-repeat center bottom; background-size:auto 186rem;}
.page.msc.lifetime .serv .guide-cnt .img.b {background: url(../img/msc/img-insurance2.png) no-repeat center bottom; background-size:280rem auto;}
.page.msc.lifetime .serv .guide-cnt + .bullet.b {margin-top: 10rem;}
.page.msc.lifetime .serv .life-lst > li {margin-top: 16rem; }
.page.msc.lifetime .serv .life-lst .box {position: relative; padding: 20rem; border-radius: 8rem; border: solid 1rem #e6e6e6; min-height: 180rem;}
.page.msc.lifetime .serv .life-lst .box .hd-tit4 {min-height: 24rem; line-height: 1.6; padding-left: 48rem; background-repeat: no-repeat ; background-position: left -2rem; background-size: 32rem;}
.page.msc.lifetime .serv .life-lst .box .link-ar {position: absolute;left: 20rem; bottom: 20rem;}
.page.msc.lifetime .serv .life-lst > li:nth-child(1) .link-ar {position: relative ; left: auto; bottom: auto;} 
.page.msc.lifetime .serv .life-lst > li:nth-child(1) .box .hd-tit4 {background-image: url(../img/msc/ic_life_serv01@2x.png) ;}
.page.msc.lifetime .serv .life-lst > li:nth-child(2) .box .hd-tit4 {background-image: url(../img/msc/ic_life_serv02@2x.png) ;}
.page.msc.lifetime .serv .life-lst > li:nth-child(3) .box .hd-tit4 {background-image: url(../img/msc/ic_life_serv03@2x.png) ;}
.page.msc.lifetime .serv .life-lst > li:nth-child(4) .box .hd-tit4 {background-image: url(../img/msc/ic_life_serv04@2x.png) ;}
.page.msc.lifetime .serv .life-lst > li:nth-child(5) .box .hd-tit4 {background-image: url(../img/msc/ic_life_serv05@2x.png) ;}
.page.msc.lifetime .serv .life-lst > li:nth-child(6) .box .hd-tit4 {background-image: url(../img/msc/ic_life_serv06@2x.png) ;}
.page.msc.lifetime .serv .life-lst > li:nth-child(7) .box .hd-tit4 {background-image: url(../img/msc/ic_life_serv07@2x.png) ;}

/* 든든포인트 */
.page.msc.reliable {}
.page.msc.reliable * .dlt {margin-top: 16rem;} 
.page.msc.reliable .dlt > li + li {margin-top: 10rem;}
.page.msc.reliable .dlt > li > .dl {display: flex;justify-content: space-between; align-items: center; font-weight: bold;}
.page.msc.reliable .dlt > li > .dl .dt {min-width: 90px; line-height: 1.31; word-break: keep-all; text-align: left; font-size: 16rem; line-height: 1.33;}
.page.msc.reliable .dlt > li > .dl .dd {text-align: right; font-size: 18rem; line-height: 1.33;}
.page.msc.reliable .num {display: inline-block; vertical-align: middle;}
.page.msc.reliable .pt {display: inline-block; width: 18rem; height: 18rem; background-image: url(../img/msc/ic_point@2x.png) ; background-repeat: no-repeat ; background-position: left top; background-size: 100% auto; vertical-align: middle;}
.page.msc.reliable .big.pt {margin: 0 auto; width: 80rem; height: 80rem; background-image: url(../img/msc/ic_point_yellow@2x.png) ;}
.page.msc.reliable .have {margin-top: 24rem; padding: 30rem 20rem; border-radius: 8rem; background-color: #fcf2e8; text-align: center;}
.page.msc.reliable .have .result {margin-top: 16rem;}
.page.msc.reliable .have .result .total {margin-top: 2rem; }
.page.msc.reliable .have .result .total .num {font-weight: bold; font-size: 26rem;  line-height: 1.3; color: #2a81eb;}
.page.msc.reliable .have .result .total .pt {background-image: url(../img/msc/ic_point_blue@2x.png) ; width: 24rem; height: 24rem;}
.page.msc.reliable .have .each {border-top: 1rem solid #ddd; margin-top: 32rem; }
.page.msc.reliable .point-srch {margin-top: 24rem;}
.page.msc.reliable .point-srch .option {display: none; margin-bottom: 40rem;}
.page.msc.reliable .point-srch .option.active {display: block;}
.page.msc.reliable .point-srch .optset {text-align: right;}
.page.msc.reliable .point-srch .btn-select {border: solid 1rem #e6e6e6;}
.page.msc.reliable .point-srch .btn-select::after {top: 14rem;}
.page.msc.reliable .point-srch .item-lst .hd-tit5 + * {margin-top: 16rem;}
.page.msc.reliable .point-srch .item-lst > li + li {margin-top: 16rem;}
.page.msc.reliable .point-srch .btn-set {margin-top: 16rem;}
.page.msc.reliable .point-wrp {margin-top: 24rem;}
.page.msc.reliable .point-wrp.active {margin: 32rem -20rem 0; padding: 32rem 20rem; background-color: #f5f5f5;}
.page.msc.reliable .point-lst > li + li {margin-top: 16rem;}
.page.msc.reliable .point-lst .item {padding: 20rem; border-radius: 8rem; border: solid 1rem #e6e6e6; background-color: #fff;}
.page.msc.reliable .point-lst .item .add {height: 22rem;}
.page.msc.reliable .point-lst .etc {margin-top: 5rem;}
.page.msc.reliable .point-lst .etc .lst > li {color: #767676;}
.page.msc.reliable .point-lst .etc .lst > li + li {margin-top: 2rem;}
.page.msc.reliable .point-lst .item.used {background-color: #fafafa;}
.page.msc.reliable .point-lst .item.used .dlt > li > .dl {color: #767676;}
.page.msc.reliable .point-lst .item.used .pt {background-image: url(../img/msc/ic_point_gr@2x.png) ;}
.page.msc.reliable .point-lst + .list-empty {margin-top: 16rem;}
.page.msc.reliable .list-empty {margin-top: 0;}
.page.msc.reliable .point-wrp .ut-more {margin: 32rem 0 10rem;}
.page.msc.reliable .ut-gudbox.a {margin-top: 40rem;}
.page.msc.reliable .ut-gudbox.a .btn-set {margin-top: 5rem;}
.page.msc.reliable .ut-gudbox.a .btn-set .link-ar { font-size: 14rem;}

/* 보장내용확인 */
.page.msc.guarantee .hd-tit3 {font-size: 22rem;}
.page.msc.guarantee .hd-tit4 {line-height: 1.31; padding: 0;}
.page.msc.guarantee .hd-tit4 + .list-empty {margin-top: 16rem;}
.page.msc.guarantee .top {margin-top: 32rem;}
.page.msc.guarantee .sect + .sect {margin-top: 40rem;}
.page.msc.guarantee .guarant-slide {margin-top: 24rem; padding-bottom: 24rem;}
.page.msc.guarantee .guarant-slide .ut-slide-dot {height: 287rem; padding: 32rem 20rem 24rem; border-radius: 8rem; border: solid 1rem #e6e6e6;}
.page.msc.guarantee .guarant-slide .swiper-container .pagination.swiper-pagination-bullets {align-items: flex-end; bottom: 0;}
.page.msc.guarantee .guarant-slide .ut-slide-dot .swiper {padding-bottom: 40rem;}
.page.msc.guarantee .guarant-slide .graph-cnt {margin: 0 auto; width: 280rem;}
.page.msc.guarantee .guarant-slide .graph-cnt .unit {font-size: 12rem; color: #767676; margin-top: 8rem;}
.page.msc.guarantee .guarant-slide .graph-cnt .graph-data {overflow: hidden; height: 179rem; }
.page.msc.guarantee .ut-dtds.rdbox.g + .ut-gudbox.a {margin-top: 16rem;}
.page.msc.guarantee .hd-tit4 + .ut-dcard.a {margin-top: 16rem;}
.page.msc.guarantee .ut-dcard.a .ut-tbl col.a {width: auto;}
.page.msc.guarantee .ut-dcard.a .ut-tbl col.b {width: 50%;}
.page.msc.guarantee .ut-dcard.a .stds .hdt .tit {font-size: 16rem;}
.page.msc.guarantee .ut-dcard.a .stds .cdt .bxs .dd .prc .num {font-size: 16px; font-weight: 700; line-height: 1.31;}
.page.msc.guarantee .ut-dcard.a .dtds .dlt > li + li {margin-top: 16rem;}
.page.msc.guarantee .ut-dcard.a .dtds .bx-tog.bx-tog2 .ut-tbl.b :not(thead) + tbody tr:first-child th, 
.page.msc.guarantee .ut-dcard.a .dtds .bx-tog.bx-tog2 .ut-tbl.b :not(thead) + tbody tr:first-child td {padding-top: 0;}
.page.msc.guarantee .other-lst {margin-top: 16rem; display: flex; width: 100%; justify-content: space-between;}
.page.msc.guarantee .other-lst > li {height: 136rem;}
.page.msc.guarantee .other-lst > li a.lk {display: block; width: 80rem; height: 80rem; padding-top: 80rem; text-align: center; background-color:#f5f5f5; border-radius: 100%; background-repeat: no-repeat; background-position: center center; background-size: 48rem; }
.page.msc.guarantee .other-lst > li a .txt {display: block; width: 80rem; margin-top: 17rem}
.page.msc.guarantee .other-lst > li:nth-child(1) a.lk  { background-image: url(../img/msc/ic_guarant01@2x.png); background-size: 48rem;}
.page.msc.guarantee .other-lst > li:nth-child(2) a.lk { background-image: url(../img/msc/ic_guarant02@2x.png); background-size: 48rem;}
.page.msc.guarantee .other-lst > li:nth-child(3) a.lk { background-image: url(../img/msc/ic_guarant03@2x.png); background-size: 48rem;}
.page.msc.guarantee .ut-gudbox.a {margin-top: 40rem;}


/** 나의 담당컨설턴트 **/
.ut-bnr-lst a.lk.ic_myconsultant:before {content:""; display: block; width: 48rem; height: 48rem; position: absolute; left: 20rem; top: 50%; margin-top: -24rem; background: url('../img/msc/ic_myconsultant@2x.png') no-repeat left top; background-size: 100% auto;}
.ut-bnr-lst a.lk.ic_myconsultant {padding-left: 84rem;}

.page.msc.myconsultant .hd-tit3 {font-size: 22rem;}
.page.msc.myconsultant .top {margin-top: 32rem;}
.page.msc.myconsultant .top .user {display: block;}
.page.msc.myconsultant .top + .ut-dcard.a.account {margin-top: 32rem;}
.page.msc.myconsultant .ut-dcard.a.account .btn-set.btnbot {margin-top: 16rem;}
.page.msc.myconsultant .ut-dcard.a .bdt {margin-top: 16rem; padding-top: 16rem; border-top: 1rem solid #e6e6e6;}
.page.msc.myconsultant .ut-dcard.a .bdt .prd-tit {display: block; word-break: keep-all; font-weight: 700; color: #555555;}

/* 나의 담당 FP 정보 */
.pop-myconsultant-info .hd-tit3 {font-size: 22rem;}
.pop-myconsultant-info .top {margin-top: 32rem;}
.pop-myconsultant-info .top .ut-dtds.c { margin-top: 32rem;}
.pop-myconsultant-info .top .ut-dtds.c + .btn-set.downs {margin-top: 40rem;}
.pop-myconsultant-info .top .ut-dtds.c + .btn-set.downs .btn + .btn {margin-top: 8rem;}
.pop-myconsultant-info .prd-tit {display: block; word-break: keep-all; color: #555555;}
.pop-myconsultant-info .prd-tit + .prd-tit {margin-top: 8rem;}

/* 계약 선택 */
.pop-contract-choice {}
.pop-contract-choice .sect {margin-top: 16rem;}
.pop-contract-choice .txt-def {font-size: 15rem;}
.pop-contract-choice .form-group {margin-top: 16rem;}
.pop-contract-choice .checkbox.cv>.txt {color: #555555; font-size: 15rem; line-height: 1.4;}
.pop-contract-choice .checkbox.cv>.txt .t {display: block;}

/* 상담 선택 */
.pop-consult-choice {}
.pop-consult-choice .btn-set.vt {margin-top: 16rem;}
.pop-consult-choice .btn-set.vt .btn + .btn {margin-top: 8rem;}


